<% @posts.each do |post| %>
  
  <div class="page-header">
    <h1><%= link_to post.title, post %></h1>
    <p>
      <small>Posted <%= time_ago_in_words(post.created_at) %></small></br>
    </p>
  </div>

  <div class="container-fluid post-list-item">
    <div class="row">
      <p class="lead">
        <%= truncate(post.body, length: 200, :omission => '...') %>
      </p>
    </div>
  </div>
  <em>
    <small class="pull-right">
      <%= post.comments.count%> <%= " Comments".pluralize(post.comments.count) %>
    </small>
  </em>
  
<% end %>



