<p id="notice"><%= notice %></p>



<div class="page-header">
  <p class="pull-right">
    <%= link_to 'Edit', edit_post_path(@post) %>
  </p>
  
  <h1><%= @post.title %></h1>
</div>



<div class="container-fluid" style="padding-bottom: 70px;">
  <div class="row">
    <p class="lead">
      <%= @post.body %>
    </p>
  </div>
</div>




<div class="container-fluid">
  <div class="row">
    
    <%= form_for([@post, Comment.new], remote: true) do |f| %>
      <p>
        <div class="form-group">
          <%= f.text_area :body, :class=>"form-control", :placeholder => "Enter comment text..." %>
        </div>
      </p>
      <p><%= f.submit "Add Comment", :class => "btn btn-primary pull-right" %></p>
    <% end %>
  </div>
</div>


<h3>Comments</h3>

<div id="comments">
  <% if @post.comments.count > 0 %>

    <% @post.comments.desc.each do |comment| %>
      <%= render partial: 'comments/comment', locals: { comment: comment } %>
    <% end %>
    
  <% else %>
    <em id="none-holder" style="font-weight: 200;">No comments</em>
  <% end %>

</div>


