<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <!-- Latest compiled and minified CSS -->
    <%=stylesheet_link_tag "application", media: "all" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div id="header" class="row-fluid">
      <div class="container">
        <h1>
          <%= link_to "Javier's Blog", root_path, :id => "header-text"%>
        </h1>
        <% if user_signed_in? %>
          <div class="pull-right">
            <%= link_to 'Admin', posts_path, :style => "color: white;" %>
            <%= link_to 'Logout',
            destroy_user_session_path(current_user),
            data: { confirm: 'Are you sure?' },
            method: :delete,
            :style => "color: white;" %>
            
            <% if !@post.nil? %>
              <%#= link_to 'Edit', edit_post_path(@post) %>              
            <% end %>
            
          </div>
        <% else %>
          <div class="pull-right">
            <%= link_to 'Login', new_user_session_path, :style => "color: white;" %>
          </div>

        <% end %>

      </div>
    </div>
    
    <div class="container">
      <%= yield %>
    </div>
    
    <footer class="footer navbar-bottom">
      <div class="container">
        <p class="text-muted">Made by: Javier Chavez</p>
      </div>
    </footer>
    
  </body>
</html>
